/*
**************
    COMMON
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*
*************
    FONT
*************
*/

body {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
}

/*
************
    MAIN
************
*/

/* INTESTAZIONE */

main {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

section:first-of-type {
    text-align: center;
}

/* .titolo-intestazione { */
h2:first-child {
    color: rgb(230,62,111);
    margin-bottom: 40px;
    font-size: 1.8em;
}

h2 + p {
    font-size: 18px;
}

/* CONTAINER */

/* .container { */
section > div {
    padding: 0 10px;
    margin: 30px auto;
    background-color: #FA324825;
    border-radius: 10px;
}

.cards {
    float: left;
    margin: 20px 10px;
    width: calc(100% / 3 - 20px);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    background-color: rgb(15,14,23);
}

/* CONTENUTO CARDS */

.card-image {
    float: left;
    width: 30%;
}

.card-content {
    float: left;
    width: 70%;
    color: #FFF;
    padding: 12px;
}

.img {
    display: block;
    width: 100%;
}

h3 {
    margin-bottom: 5px;
}

/* Link Email */

a:last-child {
/* small a { */
    color: rgb(0,204,242);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}